*{
    margin: 0;
    padding: 0;
}

.register{
    width: 100vw;
    height: 100vh;
    background-color: rgb(229, 202, 206);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >div{
        width: 25rem;
        height: 30rem;
        border: 1px solid #000;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 3px 3px 50px rgba(0,0,0,0.8);
        >h1{
            color: white;
        }
        >form{
            width: 20rem;
            height: 20rem;
            display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        >div{
            display: flex;
           
            justify-content: center;
            align-items: center;
            >svg{
                font-size: 2rem;
            }
            >input{
                width:15rem ;
                height: 3rem;
                border-radius: 10px;
                border: 1px solid #000;
                font-size: large;
                padding: 0px 10px;
                overflow: hidden;
                background-color: rgb(185, 246, 226);
    
            }
        }
       
        >button{
            width: 8rem;
            height: 2rem;
            border-radius: 8px;
            font-size: 20px;
            // font-style: italic;
            font-family: 'Times New Roman', Times, serif;
            background-color: rgb(27, 6, 103);
            color: white;
            &:hover{
                background-color: rgb(108, 164, 146);
                color: #000;
            }

        }
        >p{
            font-size: 25px;
            >a{
                color: rgb(2, 5, 72);
                border-radius: 8px;
                margin-left: 2px;
                text-decoration: none;
                &:hover{
                    border: 2px solid #000;
                }
            }
        }
        }
    }
    
}