.timer{
    width: 15rem;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        
        align-items: center;
        border: 2px solid black;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 5px black;
        justify-content: space-around;
       
    
}
